{{/*###
TitleBar=About
*/}}
{{ define "tpl" }}
		<div id="content">
			<div id="AtokaAdv">
				<link onload="onLoad()" rel="stylesheet" href="/static/css/atokaadv.css">
				<div class="ui container">
					<div class="col-lg-12">
						<div class="head-block">
							<div class="head-text">
								About us
							</div>
							<div class="head-text2">
								Homaru!Anarchy is the first Anarchy osu! server made. The server is made by <a href="/u/1000">Aoba</a> and <a href="/u/1001">Simon</a>. We are to lazy to design a website for Homaru's Anarchy Server so we just copied <a href="https://atoka.pw">Atoka's Hanayo</a> <i>(thanks for the work man <3)</i> and did some changes to it 
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-block">
							<div class="main-text-lg">
								bro just fucking hack
							</div>
							<div class="main-text-sm main-text-sm">
								We allow hackers to hack, because we hack to :) <i>holy fuck my "9" is sticky</i>
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-bg-direct">
							<div class="main-text-lg">
								Free osu! direct
							</div>
							<div class="main-text-sm">
								You won't have to pay for osu!supporter to have convenient gameplay experience in the client - osu!direct is available for everyone! Our supporter still grants a huge set of cool perks but absense of it doesn't affect your gameplay!
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-bg-clan">
							<div class="main-text-lg">
								Clans
							</div>
							<div class="main-text-sm">
								Homaru has a clans system! Join your friends to climb up the team rankings with a collaborative effort!
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-bg-social main-block">
							<div class="main-text-lg">
								Admins
							</div>
							<div class="main-text-sm main-text-sm">
								We don't need admins, THERE ARE NO RULES HAHAHAHAHAHAHAHAHAHAHAHa <i>help me please</i>
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-bg-listing">
							<div class="main-text-lg">
								Beatmap listing
							</div>
							<div class="main-text-sm">
								We have a <a href="/beatmaps">beatmap listing</a> page! View all those juicy pp maps on our website!
							</div>
						</div>
					</div>
				</div>
				<div class="ui container">
					<div class="col-lg-12">
						<div class="main-block main-bg-rank">
							<div class="main-text-lg">
								Rank requests
							</div>
							<div class="main-text-sm">
								We got everything fucking ranked, yah yett
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
{{ end }}
