{{/*###
Handler=/team
TitleBar=Team
Include=user_group.html
KyutGrill=team2.jpg
*/}}
{{ define "tpl" }}
<div id="content">
	<div id="AtokaAdv">
		<link onload="onLoad()" rel="stylesheet" href="/static/css/developer.css">
			<div class="ui container">
				<div class="col-lg-34">
					<div class="main--block">
						<div class="head--text">
							<p>Makers</p>
						</div>
						<br>
							{{ template "userGroup" (.Get "badges/members?id=%d" 33) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
